Download data from [here](http://www.un.org/en/development/desa/population/migration/data/estimates2/estimates17.shtml)

Data names are: UN_MigrantStockByOriginAndDestination_2017.xlsx
and 
UN_COPY_MigrantStockTotal_2017.xlsx

Only extract and save tab 1 from each data file as

UN_COPY2_MigrantStockByOriginAndDestination_2017.xlsx

and 
UN_COPY_MigrantStockTotal_2017.xlsx

In [0]:
import pandas as pd

UN_Total = pd.read_excel ("UN_COPY_MigrantStockTotal_2017.xlsx")
print(UN_Total.head())


UN_COPY = pd.read_excel ("UN_COPY2_MigrantStockByOriginAndDestination_2017.xlsx")
print(UN_COPY.head())

   Sort\norder Major area, region, country or area of destination Notes  \
0          NaN                                                NaN   NaN
1          1.0                                              WORLD   NaN
2          2.0                             More developed regions     b
3          3.0                             Less developed regions     c
4          4.0                          Least developed countries     d

    Code Type of data (a)  \
0    NaN              NaN
1  900.0              NaN
2  901.0              NaN
3  902.0              NaN
4  941.0              NaN

  International migrant stock at mid-year (both sexes) Unnamed: 6 Unnamed: 7  \
0                                               1990         1995       2000
1                                          152542373    160700028  172604257
2                                           82391619     92331345  103417894
3                                           70150754     68368683   69186363
4                                           11073226     11708074   10073307

  Unnamed: 8  Unnamed: 9     ...      Unnamed: 16  Unnamed: 17 Unnamed: 18  \
0       2005        2010     ...             2010         2015        2017
1  190531600   220019266     ...        113583838    127597596   133078858
2  116295565   130683517     ...         63373864     67530336    70354903
3   74236035    89335749     ...         50209974     60067260    62723955
4    9803046     9994197     ...          4998873      6872458     7169094

  International migrant stock at mid-year (female) Unnamed: 20 Unnamed: 21  \
0                                             1990        1995        2000
1                                         75086026    79305317    85076784
2                                         42121221    47225596    52858984
3                                         32964805    32079721    32217800
4                                          5516710     5870950     5035934

   Unnamed: 22  Unnamed: 23  Unnamed: 24 Unnamed: 25
0         2005         2010         2015        2017
1     93254862    106435428    119988148   124636567
2     59408174     67309653     72719861    75628927
3     33846688     39125775     47268287    49007640
4      4813011      4995324      6932299     7272621

[5 rows x 26 columns]
   Year  Sort\norder Major area, region, country or area of destination Notes  \
0  1990      1990001                                              WORLD   NaN
1  1990      1990002                             More developed regions     b
2  1990      1990003                             Less developed regions     c
3  1990      1990004                          Least developed countries     d
4  1990      1990005  Less developed regions, excluding least develo...   NaN

   Code Type of data (a)      Total Other North Other South Afghanistan  \
0   900              NaN  152542373     2144536     6342531     6724681
1   901              NaN   82391619     1094823     3412144      119338
2   902              NaN   70150754     1049713     2930387     6605343
3   941              NaN   11073226      250575      533018          ..
4   934              NaN   59077528      799138     2397369     6605343

    ...    Uruguay Uzbekistan Vanuatu Venezuela (Bolivarian Republic of)  \
0   ...     237258    1429956    5060                             185888
1   ...      56562    1078599    1017                             114635
2   ...     180696     351357    4043                              71253
3   ...        286       2027       9                               2510
4   ...     180410     349330    4034                              68743

  Viet Nam Wallis and Futuna Islands Western Sahara   Yemen Zambia Zimbabwe
0  1235348                      6484         168239  455442  83210   176697
1  1083015                       884            333   11407  25922    40832
2   152333                      5600         167906  444035  57288   135865
3    71579                        ..             ..     357  25400    47578
4    80754                      5600         167906  443678  31888    88287

[5 rows x 241 columns]

**Print list of the heading of each of the data files**

In [0]:
print(list(UN_Total))
print(list(UN_COPY))

['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Code', 'Type of data (a)', 'International migrant stock at mid-year (both sexes)', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'International migrant stock at mid-year (male)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'International migrant stock at mid-year (female)', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']
['Year', 'Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Code', 'Type of data (a)', 'Total', 'Other North', 'Other South', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean Netherlands', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', "Dem. People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'TFYR Macedonia', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United Republic of Tanzania', 'United States of America', 'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe']

In [0]:
#print(UN_COPY)

Since I want to merge the row that says Nepal along the two datasets, we first extract that row from both the datasets individually and rename that document. un_copy_nepal and un_copy_total. Both documents headers are 'Major area, region, country or area of destination' so you make that equal to Nepal and islolate that row.

In [0]:
#print(UN_Total[UN_Total['Major area, region, country or area of destination']=="Nepal"].transpose().notna())

un_copy_nepal = UN_COPY[UN_COPY['Major area, region, country or area of destination']=="Nepal"]
print(un_copy_nepal)
un_copy_nepal_list = list(un_copy_nepal)

un_copy_total_nepal = UN_Total[UN_Total['Major area, region, country or area of destination']=="Nepal"]
print(un_copy_total_nepal)
un_copy_total_list = list(un_copy_total_nepal)

      Year  Sort\norder Major area, region, country or area of destination  \
97    1990      1990098                                              Nepal
367   1995      1995098                                              Nepal
637   2000      2000098                                              Nepal
907   2005      2005098                                              Nepal
1177  2010      2010098                                              Nepal
1447  2015      2015098                                              Nepal
1717  2017      2017098                                              Nepal

     Notes  Code Type of data (a)   Total Other North Other South Afghanistan  \
97     NaN   524              B R  429974        1393       17551          ..
367    NaN   524              B R  690225        1599       36715          ..
637    NaN   524              B R  717900        1445       35766          ..
907    NaN   524              B R  679457        1252       33554          ..
1177   NaN   524              B R  578657         672       21956          ..
1447   NaN   524              B R  509855         656       12113          ..
1717   NaN   524              B R  502670         651       11942          ..

       ...    Uruguay Uzbekistan Vanuatu Venezuela (Bolivarian Republic of)  \
97     ...         ..         ..      ..                                 ..
367    ...         ..         ..      ..                                 ..
637    ...         ..         ..      ..                                 ..
907    ...         ..         ..      ..                                 ..
1177   ...         ..         ..      ..                                 ..
1447   ...         ..         ..      ..                                 ..
1717   ...         ..         ..      ..                                 ..

     Viet Nam Wallis and Futuna Islands Western Sahara Yemen Zambia Zimbabwe
97         ..                        ..             ..    ..     ..       ..
367        ..                        ..             ..    ..     ..       ..
637        ..                        ..             ..    ..     ..       ..
907        ..                        ..             ..    ..     ..       ..
1177       ..                        ..             ..    ..     ..       ..
1447       ..                        ..             ..    ..     ..       ..
1717       ..                        ..             ..    ..     ..       ..

[7 rows x 241 columns]
    Sort\norder Major area, region, country or area of destination Notes  \
98         98.0                                              Nepal   NaN

     Code Type of data (a)  \
98  524.0              B R

   International migrant stock at mid-year (both sexes) Unnamed: 6 Unnamed: 7  \
98                                             429974       690225     717900

   Unnamed: 8  Unnamed: 9     ...      Unnamed: 16  Unnamed: 17 Unnamed: 18  \
98     679457      578657     ...           189518       156556      153928

   International migrant stock at mid-year (female) Unnamed: 20 Unnamed: 21  \
98                                           304008      473137      475941

    Unnamed: 22  Unnamed: 23  Unnamed: 24 Unnamed: 25
98       444254       389139       353299      348742

[1 rows x 26 columns]

In [0]:
print(list(UN_COPY))
UN_COPY

['Year', 'Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Code', 'Type of data (a)', 'Total', 'Other North', 'Other South', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean Netherlands', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', "Dem. People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'TFYR Macedonia', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United Republic of Tanzania', 'United States of America', 'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe']

,Year,Sort order,"Major area, region, country or area of destination",Notes,Code,Type of data (a),Total,Other North,Other South,Afghanistan,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,1990,1990001,WORLD,NaN,900,NaN,152542373,2144536,6342531,6724681,...,237258,1429956,5060,185888,1235348,6484,168239,455442,83210,176697
1,1990,1990002,More developed regions,b,901,NaN,82391619,1094823,3412144,119338,...,56562,1078599,1017,114635,1083015,884,333,11407,25922,40832
2,1990,1990003,Less developed regions,c,902,NaN,70150754,1049713,2930387,6605343,...,180696,351357,4043,71253,152333,5600,167906,444035,57288,135865
3,1990,1990004,Least developed countries,d,941,NaN,11073226,250575,533018,..,...,286,2027,9,2510,71579,..,..,357,25400,47578
4,1990,1990005,"Less developed regions, excluding least develo...",NaN,934,NaN,59077528,799138,2397369,6605343,...,180410,349330,4034,68743,80754,5600,167906,443678,31888,88287
5,1990,1990006,High-income countries,e,1503,NaN,75239010,1129128,3750041,269865,...,61771,65706,4358,121817,1043808,6472,223,429974,25598,40644
6,1990,1990007,Middle-income countries,e,1517,NaN,68475181,863674,2156273,6454816,...,175201,1362223,550,61107,190824,12,168016,25400,14442,123177
7,1990,1990008,Upper-middle-income countries,e,1502,NaN,33412332,217939,784944,3152582,...,174515,1177624,387,60075,82891,12,168016,17333,13174,88436
8,1990,1990009,Lower-middle-income countries,e,1501,NaN,35062849,645735,1371329,3302234,...,686,184599,163,1032,107933,..,..,8067,1268,34741
9,1990,1990010,Low-income countries,e,1500,NaN,8533974,141127,419508,..,...,286,2027,..,2510,716,..,..,68,43170,12876
10,1990,1990011,Sub-Saharan Africa,f,947,NaN,14690319,251536,828343,123,...,111,..,..,296,156,..,..,440,56176,135722
11,1990,1990012,AFRICA,NaN,903,NaN,15690623,263172,858411,1037,...,111,328,..,322,156,..,167905,17828,56202,135760
12,1990,1990013,Eastern Africa,NaN,910,NaN,5964031,115128,303496,..,...,..,..,..,..,..,..,..,357,43170,47501
13,1990,1990014,Burundi,NaN,108,B R,333110,8943,50676,..,...,..,..,..,..,..,..,..,..,..,..
14,1990,1990015,Comoros,NaN,174,B,14079,672,847,..,...,..,..,..,..,..,..,..,..,..,..
15,1990,1990016,Djibouti,NaN,262,B R,122221,1827,5484,..,...,..,..,..,..,..,..,..,289,..,..
16,1990,1990017,Eritrea,NaN,232,I,11848,345,737,..,...,..,..,..,..,..,..,..,..,91,82
17,1990,1990018,Ethiopia,NaN,231,B R,1155390,7358,22075,..,...,..,..,..,..,..,..,..,68,..,..
18,1990,1990019,Kenya,NaN,404,B R,297292,35132,65430,..,...,..,..,..,..,..,..,..,..,..,..
19,1990,1990020,Madagascar,NaN,450,C,23917,3563,2851,..,...,..,..,..,..,..,..,..,..,..,..
20,1990,1990021,Malawi,NaN,454,B R,1127724,11744,19158,..,...,..,..,..,..,..,..,..,..,5637,3851
21,1990,1990022,Mauritius,1,480,C,3613,75,292,..,...,..,..,..,..,..,..,..,..,..,..
22,1990,1990023,Mayotte,NaN,175,B,15229,1142,1354,..,...,..,..,..,..,..,..,..,..,..,..
23,1990,1990024,Mozambique,NaN,508,B R,122332,16965,46404,..,...,..,..,..,..,..,..,..,..,1288,8455
24,1990,1990025,Réunion,NaN,638,B,57210,6330,6776,..,...,..,..,..,..,..,..,..,..,..,..
25,1990,1990026,Rwanda,NaN,646,B R,159869,954,19265,..,...,..,..,..,..,..,..,..,..,..,..
26,1990,1990027,Seychelles,NaN,690,B,3721,281,493,..,...,..,..,..,..,..,..,..,..,..,..
27,1990,1990028,Somalia,NaN,706,I R,478294,6098,12196,..,...,..,..,..,..,..,..,..,..,..,..
28,1990,1990029,South Sudan,NaN,728,B R,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
29,1990,1990030,Uganda,NaN,800,B R,558307,359,21368,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,2017,2017241,Saint Pierre and Miquelon,NaN,666,B,990,..,21,..,...,..,..,..,..,..,..,..,..,..,..
1861,2017,2017242,United States of America,NaN,840,B,49776970,11391,2353166,72909,...,51229,60216,..,232448,1409063,..,..,44905,24455,54567
1862,2017,2017243,OCEANIA,NaN,909,NaN,8410933,18127,79121,41904,...,11679,1703,7541,5132,246263,8043,..,707,8975,49364
1863,2017,2017244,Australia/New Zealand,NaN,927,NaN,8102983,10388,59265,41904,...,11679,1703,1648,5132,244870,..,..,707,8975,49364
1864,2017,2017245,Australia,24,36,B,7035560,376,27134,39297,...,11679,1703,1648,5132,238307,..,..,707,7465,40724
1865,2017,2017246,New Zealand,NaN,554,B,1067423,10012,32131,2607,...,..,..,..,..,6563,..,..,..,1510,8640
1866,2017,2017247,Melanesia,NaN,928,NaN,118078,2719,7960,..,...,..,..,5423,..,819,8010,..,..,..,..
1867,2017,2017248,Fiji,NaN,242,B,13911,214,1589,..,...,..,..,186,..,..,..,..,..,..,..
1868,2017,2017249,New Caledonia,NaN,540,B,66001,1996,4199,..,...,..,..,5069,..,819,8010,..,..,..,..
1869,2017,2017250,Papua New Guinea,NaN,598,C R,32389,197,978,..,...,..,..,104,..,..,..,..,..,..,..
1870,2017,2017251,Solomon Islands,NaN,90,B,2532,61,515,..,...,..,..,64,..,..,..,..,..,..,..
1871,2017,2017252,Vanuatu,NaN,548,B,3245,251,679,..,...,..,..,..,..,..,..,..,..,..,..
1872,2017,2017253,Micronesia,NaN,954,NaN,117601,1908,5483,..,...,..,..,..,..,363,..,..,..,..,..
1873,2017,2017254,Guam,NaN,316,B,78027,840,1717,..,...,..,..,..,..,363,..,..,..,..,..
1874,2017,2017255,Kiribati,NaN,296,B,3022,295,201,..,...,..,..,..,..,..,..,..,..,..,..
1875,2017,2017256,Marshall Islands,NaN,584,B,3292,82,282,..,...,..,..,..,..,..,..,..,..,..,..
1876,2017,2017257,Micronesia (Fed. States of),NaN,583,B,2785,406,1415,..,...,..,..,..,..,..,..,..,..,..,..
1877,2017,2017258,Nauru,NaN,520,C,3710,42,1025,..,...,..,..,..,..,..,..,..,..,..,..
1878,2017,2017259,Northern Mariana Islands,NaN,580,B,21777,194,750,..,...,..,..,..,..,..,..,..,..,..,..
1879,2017,2017260,Palau,NaN,585,B,4988,49,93,..,...,..,..,..,..,..,..,..,..,..,..
1880,2017,2017261,Polynesia,25,957,NaN,72271,3112,6413,..,...,..,..,470,..,211,33,..,..,..,..
1881,2017,2017262,American Samoa,NaN,16,B,23561,140,434,..,...,..,..,..,..,211,..,..,..,..,..
1882,2017,2017263,Cook Islands,NaN,184,B,4213,258,497,..,...,..,..,..,..,..,..,..,..,..,..
1883,2017,2017264,French Polynesia,NaN,258,B,30687,568,3373,..,...,..,..,214,..,..,33,..,..,..,..
1884,2017,2017265,Niue,NaN,570,B,553,50,40,..,...,..,..,..,..,..,..,..,..,..,..
1885,2017,2017266,Samoa,NaN,882,B,4879,109,336,..,...,..,..,16,..,..,..,..,..,..,..
1886,2017,2017267,Tokelau,NaN,772,B,504,3,37,..,...,..,..,..,..,..,..,..,..,..,..
1887,2017,2017268,Tonga,NaN,776,B,4952,1918,1647,..,...,..,..,..,..,..,..,..,..,..,..
1888,2017,2017269,Tuvalu,NaN,798,C,143,14,18,..,...,..,..,..,..,..,..,..,..,..,..
1889,2017,2017270,Wallis and Futuna Islands,NaN,876,B,2779,52,31,..,...,..,..,240,..,..,..,..,..,..,..

I used un_merge to merge un_copy_nepal and un_copy_total. Those dataframe un_copy_nepal and un_copy_total isolated data entries for Nepal. Use smaller sample size than 8 because i am merging on in one row.

In [0]:
un_merge = un_copy_nepal.merge(un_copy_total_nepal, on= "Major area, region, country or area of destination")                           
print(un_merge.sample(5))

   Year  Sort\norder_x Major area, region, country or area of destination  \
1  1995        1995098                                              Nepal
3  2005        2005098                                              Nepal
6  2017        2017098                                              Nepal
0  1990        1990098                                              Nepal
2  2000        2000098                                              Nepal

  Notes_x  Code_x Type of data (a)_x   Total Other North Other South  \
1     NaN     524                B R  690225        1599       36715
3     NaN     524                B R  679457        1252       33554
6     NaN     524                B R  502670         651       11942
0     NaN     524                B R  429974        1393       17551
2     NaN     524                B R  717900        1445       35766

  Afghanistan     ...     Unnamed: 16 Unnamed: 17 Unnamed: 18  \
1          ..     ...          189518      156556      153928
3          ..     ...          189518      156556      153928
6          ..     ...          189518      156556      153928
0          ..     ...          189518      156556      153928
2          ..     ...          189518      156556      153928

  International migrant stock at mid-year (female) Unnamed: 20 Unnamed: 21  \
1                                           304008      473137      475941
3                                           304008      473137      475941
6                                           304008      473137      475941
0                                           304008      473137      475941
2                                           304008      473137      475941

  Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25
1      444254      389139      353299      348742
3      444254      389139      353299      348742
6      444254      389139      353299      348742
0      444254      389139      353299      348742
2      444254      389139      353299      348742

[5 rows x 266 columns]

In [0]:
un_merge.to_pickle("UN_Merge.csv")
un_merge.to_pickle("UN_Merge1.pkl.gz")

In [0]:
un_merge_read = pd.read_pickle("UN_Merge1.pkl.gz")
print(un_merge_read)

   Year  Sort\norder_x Major area, region, country or area of destination  \
0  1990        1990098                                              Nepal
1  1995        1995098                                              Nepal
2  2000        2000098                                              Nepal
3  2005        2005098                                              Nepal
4  2010        2010098                                              Nepal
5  2015        2015098                                              Nepal
6  2017        2017098                                              Nepal

  Notes_x  Code_x Type of data (a)_x   Total Other North Other South  \
0     NaN     524                B R  429974        1393       17551
1     NaN     524                B R  690225        1599       36715
2     NaN     524                B R  717900        1445       35766
3     NaN     524                B R  679457        1252       33554
4     NaN     524                B R  578657         672       21956
5     NaN     524                B R  509855         656       12113
6     NaN     524                B R  502670         651       11942

  Afghanistan     ...     Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0          ..     ...          189518      156556      153928
1          ..     ...          189518      156556      153928
2          ..     ...          189518      156556      153928
3          ..     ...          189518      156556      153928
4          ..     ...          189518      156556      153928
5          ..     ...          189518      156556      153928
6          ..     ...          189518      156556      153928

  International migrant stock at mid-year (female) Unnamed: 20 Unnamed: 21  \
0                                           304008      473137      475941
1                                           304008      473137      475941
2                                           304008      473137      475941
3                                           304008      473137      475941
4                                           304008      473137      475941
5                                           304008      473137      475941
6                                           304008      473137      475941

  Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25
0      444254      389139      353299      348742
1      444254      389139      353299      348742
2      444254      389139      353299      348742
3      444254      389139      353299      348742
4      444254      389139      353299      348742
5      444254      389139      353299      348742
6      444254      389139      353299      348742

[7 rows x 266 columns]